// TIER

$tier-white: #FFFAF6 !default;
$tier-green: #067A72 !default;
$tier-green-muted: #C8EAE8 !default;
$tier-green-highlight: #20E0CC !default;
$tier-red: #F4462C !default;
$tier-red-muted: #FFCCB4 !default;
$tier-red-highlight: #FFAE80 !default;
$tier-blue: #0E1A50 !default;
$tier-blue-muted: #BAD8FC !default;
$tier-blue-highlight: #66ACFF !default;


$sidebar-color: $tier-blue !default;
$nav-child-link-color: $tier-white !default;
$code-background-color: $tier-whie !default;
$body-heading-color: $tier-white !default;

